* {
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0px;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.submenu-underline {
    background-color: red;
    height: 4px;
    width: 100%;
    border-radius: 2px 2px 0px 0px;
}

#main1 {
    margin-left: 20vw;
    margin-right: 20vw;
    height: 100vw;
}

.Social:hover {
    
}